* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
}

.cat {
    padding: 50px;
    margin-bottom: 20px;
}

img:hover {
    cursor: pointer
}

img {
    max-height: 500px;
    max-width: 500px;
}

h1 {
    text-align: center;
    padding: 1rem;
}

.name,
.count {
    max-width: 500px;
    font-size: 24px;
}